body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue','sans-serif';
  margin: 0;
  font-size: 20px;
  cursor: url('mouse1.png'),auto;
}

a{
  color: #1B28A8;
  font-weight: 600;
  text-decoration: none;
}

.Hero {
  background: linear-gradient(7.2deg, #308ADE -12.21%, #2B2AF2 148.29%);
  height: 1080px;
  background-size: cover;
  background-position: center;
}

.HeroGroup {
  max-width: 496px;
  margin: 0 auto;
  padding: 200px 0 40px 0;
  align-items: center;
  position: relative;
  z-index: 1;
}

.Hero h1 {
  margin: 0;
  color: white;
  font-size: 120px;
  line-height: 120px;
  opacity: 0;
  animation: HeroAnimation;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);
}

.HeroGroup p {
  margin: 30px 0px 50px 0px;
  font-size: 18px;
  line-height: 32px;
  color: rgba(255,255,255, 0.8);
  letter-spacing: 1px;
  opacity: 0;
  animation: HeroAnimation 3s 0.3s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
}

.HeroLink button {
  padding: 12px 24px;
  font-size: 16px;
  background: none;
  border: 2px solid white;
  font-weight: 600;
  outline: none;
  cursor: pointer;
  color: white;
  transition: 2s cubic-bezier(0.2, 0.8, 0.2, 1.0);
}


.HeroLink a {
  font-size: 14px;
  font-weight: 500;
  color :white;
  
}
.HeroLink {
  max-width: 220px;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  opacity: 0;
  animation: HeroAnimation 2s 0.4s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
}

.Hero svg {
  position: fixed;
  left: 39.27%;
  right: 10.04%;
  top: 0;
  bottom: 29.42%s;
  z-index: 0;
}

@keyframes HeroAnimation {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}




@media (max-width: 600px) {

  .HeroGroup {
  max-width: 434px;
  margin: 0 auto;
  padding: 160px 0 30px 0;
  align-items: center;
  }

  .Hero h1 {
    font-size: 70px;
  }

  .Hero p {
    margin: 10px 0px 70px 0px;
    font-size: 16px;
    line-height: 26px;
    color: rgba(255,255,255, 0.7);
  }

  }

  @media (max-width: 520px) {

    .HeroGroup {
    max-width: 496px;
    margin: 0 auto;
    padding: 160px 40px 40px 40px;
    align-items: center;
    }
  
    .Hero h1 {
      font-size: 50px;
    }
  
    .Hero p {
      margin: 10px 0px 40px 0px;
      font-size: 14px;
      line-height: 26px;
      color: rgba(255,255,255, 0.7);
    }

    .HeroLink button {
      padding: 10px 20px;
      font-size: 16px;
      background: white;
      border-radius: 2px;
      border: none;
      font-weight: 600;
      outline: none;
      cursor: pointer;
      color: #1741DB;
      box-shadow: 0 4px 10px 0 rgba(14,31,74,0.20);
      transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1.0);
      
    }


  
    }


